/*** general style ***/
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

div {
  background: grey;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  overflow: scroll;
  text-align: left;
}

/*** simple responsive framework ***/
.row {
  width: 100%;
}

/*** desktop version ***/
@media (min-width: 992 px) {
  .col-dt-1, .col-dt-2, .col-dt-3, .col-dt-4, .col-dt-5, .col-dt-6, .col-dt-7, .col-dt-8, .col-dt-9, .col-dt-10, .col-dt-11, .col-dt-12 {
    float: left;
    border: 1px solid black;
  }
  .col-dt-1 { width: 8.33%; }
  .col-dt-2 { width: 16.66%; }
  .col-dt-3 { width: 25%; }
  .col-dt-4 { width: 33.33%; }
  .col-dt-5 { width: 41.66%; }
  .col-dt-6 { width: 50%; }
  .col-dt-7 { width: 58.33%; }
  .col-dt-8 { width: 66.66%; }
  .col-dt-9 { width: 75%; }
  .col-dt-10 { width: 83.33%; }
  .col-dt-11 { width: 91.66%; }
  .col-dt-12 { width: 100%;}
}

/*** tablet version ***/
@media (max-width: 991 px) and (min-width: 768 px) {
  .col-ta-1, .col-ta-2, .col-ta-3, .col-ta-4, .col-ta-5, .col-ta-6, .col-ta-7, .col-ta-8, .col-ta-9, .col-ta-10, .col-ta-11, .col-ta-12 {
    float: left;
    border: 1px solid black;
  }
  .col-ta-1 { width: 8.33%; }
  .col-ta-2 { width: 16.66%; }
  .col-ta-3 { width: 25%; }
  .col-ta-4 { width: 33.33%; }
  .col-ta-5 { width: 41.66%; }
  .col-ta-6 { width: 50%; }
  .col-ta-7 { width: 58.33%; }
  .col-ta-8 { width: 66.66%; }
  .col-ta-9 { width: 75%; }
  .col-ta-10 { width: 83.33%; }
  .col-ta-11 { width: 91.66%; }
  .col-ta-12 { width: 100%;}
}

/*** headings ***/
#h1 {
  text-align: center;
  font-size: 175%;
  }
  
#h2 {
  background: #FFF8DC;
}

#h3 {
  background: #FFFAF0;
}

#h4 {
  background: #F8F8FF;
}

h3 {
  position: relative;
  top: 0;
  right: 0;
  margin: 0;
  padding: 10px;
  border: 1px solid black;
  text-align: right;
  width: 200px;
  font-size: 125%;
}
